<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <div class="col-md-9 pt-5 pb-2" style="font-size: 13px; font-family: Verdana;">
                <h3>Daños</h3>
            </div>
            <div class="col-md-11 mb-5">
                <hr style="width: 100%;">
            </div>
            <div class="col-md-11 pt-4 pb-4 d-flex justify-content-between rounded-4 shadow-sm"
                style="background-color: rgba(14, 122, 255, 0.2);">
                <div class="position-relative" style="width: 300px; margin-left: 20px;">
                    <input type="text" [(ngModel)]="filtro" (ngModelChange)="aplicarFiltro()" class="form-control" placeholder="Filtros" style="padding-right: 30px;">
                    <i class="bi bi-funnel position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%);"></i>
                </div>
                <div>
                    <button type="button" class="pdf-button">
                        <i class="bi bi-file-pdf" (click)="generarPDFcompleto()"></i>
                        Descargar PDF
                    </button>
                </div>
                <div>
                    <button type="button" class="btn-custom" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-plus"></i>
                        Agregar
                    </button>
                </div>
            </div>
            <div class="col-md-11 mt-5 rounded-4 shadow-sm p-4" style="background-color: rgba(14, 122, 255, 0.2);">
                <table class="table table-hover table-sm mt-2 mb-2 text-center" style="font-size: 13px;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Numero serie</th>
                            <th scope="col">Hora daños</th>
                            <th scope="col">Fecha daños</th>
                            <th scope="col">Fecha cambio</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Laboratorio</th>
                            <th scope="col" class="d-flex justify-content-center">Editar / Eliminar / PDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data, let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{item.numero_serie}}</td>
                            <td>{{item.hora_dano}}</td>
                            <td class="descripcion-scroll2">{{item.fecha_dano}}</td>
                            <td class="descripcion-scroll2">{{item.fecha_cambio}}</td>
                            <td class="descripcion-scroll">{{item.descripcion}}</td>
                            <td>{{item.estado}}</td>
                            <td>{{item.equipo.laboratory}}</td>
                            <td class="d-flex justify-content-center">
                                <i class="bi bi-pencil-square" (click)="editarDato(item)" data-bs-toggle="modal"
                                    data-bs-target="#editModal" style="margin-right: 20px; color: blue;"></i>
                                <i class="bi bi-trash-fill" (click)="eliminar(item)"
                                    style="margin-left: 20px; color: red;"></i>
                                <i class="bi bi-file-earmark-pdf-fill" (click)="seleccionarDato(item)" (click)="generarPDF()" style="margin-left: 40px; color: red;"></i>
                            </td>
                            <td class="d-flex justify-content-center">
                        </tr>
                    </tbody>
                    <tfoot >
                        <tr *ngFor="let item of data">
                            <td>
                                <i class="bi bi-file-pdf" (click)="generarPDFcompleto()"></i>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-md-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdrop" aria-hidden="true">
    <form (submit)="agregarDato()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar daño</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group pt-0 mb-3">
                        <label for="numSerie" style="font-size: 13px; font-family: Verdana; color: black;">Numero de
                            serie:</label>
                        <input type="text" [(ngModel)]="numero" name="numSerie" class="form-control border rounded-1"
                            id="numSerie" placeholder="Ingrese el numero de serie"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="hora" style="font-size: 13px; font-family: Verdana; color: black;">Hora de
                            daños:</label>
                        <input type="time" [(ngModel)]="horadano" name="hora" class="form-control border rounded-1"
                            id="hora" placeholder="Ingrese la hora"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="fecha" style="font-size: 13px; font-family: Verdana; color: black;">Fecha de
                            daños:</label>
                        <input type="date" [(ngModel)]="fechadano" name="fecha" class="form-control border rounded-1"
                            id="fecha" placeholder="Ingrese la fecha de daño"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="fechaCambio" style="font-size: 13px; font-family: Verdana; color: black;">Fecha de
                            cambio:</label>
                        <input type="date" [(ngModel)]="fechacambio" name="fechaCambio"
                            class="form-control border rounded-1" id="fechaCambio"
                            placeholder="Ingrese la fecha de cambio"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="descripcion"
                            style="font-size: 13px; font-family: Verdana; color: black;">Descripción:</label>
                        <input type="text" [(ngModel)]="descripcion" name="descripcion"
                            class="form-control border rounded-1" id="descripcion" placeholder="Ingrese la descripción"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="estado" style="font-size: 13px; font-family: Verdana; color: black;">Estado:</label>
                        <input type="text" [(ngModel)]="estado" name="estado" class="form-control border rounded-1"
                            id="estado" placeholder="Ingrese el estado">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="estado"
                            style="font-size: 13px; font-family: Verdana; color: black;">Laboratorio:</label>
                        <select [(ngModel)]="equipo.id" name="equipo" id="equipo" class="form-control border rounded-1"
                            id="estado" placeholder="Ingrese el estado"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                            <option [value]="1">Xian</option>
                            <option [value]="2">Gori</option>
                            <option [value]="3">Toolose</option>
                            <option [value]="4">Cenepa</option>
                            <option [value]="5">Sarasota</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Editar -->

<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editModalLabel" aria-hidden="true">
    <form (ngSubmit)="guardarEdicion()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Editar Daños</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group pt-0 mb-3">
                        <label for="nombre" style="font-size: 13px; font-family: Verdana; color: black;">Numero de
                            serie:</label>
                        <input type="text" [(ngModel)]="datoEditado.numero_serie" name="nombreEditado"
                            class="form-control border rounded-1" id="nombre" placeholder="Ingrese el nombre"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="hora" style="font-size: 13px; font-family: Verdana; color: black;">Hora de
                            daño:</label>
                        <input type="time" [(ngModel)]="datoEditado.hora_dano" name="hora"
                            class="form-control border rounded-1" id="monitores"
                            placeholder="Ingrese la marca del monitor"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="fecha daño" style="font-size: 13px; font-family: Verdana; color: black;">Fecha de
                            daño:</label>
                        <input type="date" [(ngModel)]="datoEditado.fecha_dano" name="fecha"
                            class="form-control border rounded-1" id="cpu" placeholder="Ingrese la marca del CPU"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label style="font-size: 13px; font-family: Verdana; color: black;">Fecha de
                            cambio:</label>
                        <input type="date" [(ngModel)]="datoEditado.fecha_cambio" name="fechacambio"
                            class="form-control border rounded-1" id="teclado"
                            placeholder="Ingrese la marca del teclado"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="mouse"
                            style="font-size: 13px; font-family: Verdana; color: black;">Descripcion:</label>
                        <input type="text" [(ngModel)]="datoEditado.descripcion" name="descripcion"
                            class="form-control border rounded-1" id="mouse" placeholder="Ingrese la marca del mouse"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="Laboratorio"
                            style="font-size: 13px; font-family: Verdana; color: black;">Estado:</label>
                        <input type="text" [(ngModel)]="datoEditado.estado" name="estado"
                            class="form-control border rounded-1" id="audifonos"
                            placeholder="Ingrese la marca de los audifonos"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="laboratorio"
                            style="font-size: 13px; font-family: Verdana; color: black;">Laboratorio:</label>
                        <input type="text" [(ngModel)]="datoEditado.equipo.laboratory" name="laboratorio" readonly
                            class="form-control border rounded-1" id="audifonos"
                            placeholder="Ingrese la marca de los audifonos"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </form>
</div>