.table {
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table thead th {
    background-color: transparent;
    border-bottom: none;
}

.table tbody tr {
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
}

.table tbody td,
.table tbody th {
    border-top: none;
}


.descripcion-scroll {
    max-width: 100px; /* Ajusta el ancho máximo según tus necesidades */
    overflow: auto;
    white-space: nowrap; /* Mantiene el texto en una sola línea */
}



.pdf-button {
    display: flex;
    align-items: center;
    background-color: red; 
    border-color: red; 
    color: #fff; 
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    font-family: Arial, sans-serif;
    margin-left: 60px;
}

.pdf-button i {
    margin-right: 8px; 
    font-size: 20px; 
}
.excel-button:hover {
    background-color: #21a96e;
}

.btn-custom {
    display: flex;
    align-items: center;
    background-color: #007bff; 
    border-color: #007bff; 
    color: #fff; 
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    margin-right: 20px; 
    font-family: Arial, sans-serif;
}

.btn-custom i {
    margin-right: 3px; 
    font-size: 20px; 
}

.btn-custom:hover {
    background-color: #0056b3; 
}

.text-alert {
    color: red;
    font-size: 13px;
    font-family: Oswald;
    padding: 4px 12px;
    border-radius: 4px;
}

.excel-button {
    display: flex;
    align-items: center;
    background-color: #28a745; 
    border-color: #28a745; 
    color: #fff; 
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.excel-button i {
    margin-right: 8px; 
    font-size: 20px; 
}

.excel-button:hover {
    background-color: #21a96e;
}
