<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <div class="col-md-9 pt-5 pb-2" style="font-size: 13px; font-family: Verdana;">
                <h3>Usuarios</h3>
            </div>
            <div class="col-md-11 mb-5">
                <hr style="width: 100%;">
            </div>
            <div class="col-md-11 pt-4 pb-4 d-flex justify-content-between rounded-4 shadow-sm"
                style="background-color: rgba(14, 122, 255, 0.2);">
                <div class="position-relative" style="width: 300px; margin-left: 20px;">
                    <input type="text" [(ngModel)]="filtro" (ngModelChange)="aplicarFiltro()" class="form-control"
                        placeholder="Filtros" style="padding-right: 30px;">
                    <i class="bi bi-funnel position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%);"></i>
                </div>
                <div>
                    <button type="button" class="btn-custom" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-plus"></i>
                        Agregar
                    </button>
                </div>
            </div>
            <div class="col-md-11 mt-5 rounded-4 shadow-sm p-4" style="background-color: rgba(14, 122, 255, 0.2);">
                <table class="table table-hover table-sm mt-2 mb-2 text-center" style="font-size: 14px;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Email</th>
                            <th scope="col">rol</th>
                            <th scope="col" class="d-flex justify-content-center">Editar / Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data, let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.apellido }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.rol }}</td>
                            <td class="d-flex justify-content-center">
                                <i class="bi bi-pencil-square" (click)="editarDato(item)" data-bs-toggle="modal"
                                    data-bs-target="#editModal" style="margin-right: 40px; color: blue;"></i>
                                <i class="bi bi-trash-fill" (click)="eliminar(item)"
                                    style="margin-left: 10px; color: red;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="form-custom" [formGroup]="formRegistro"> <!--(submit)="agregarDato()"-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar usuarios</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group pt-0 mb-3">
                        <label for="nombre" style="font-size: 13px; font-family: Verdana; color: black;">Nombre:</label>
                        <input type="text" formControlName="nombre" name="nombre" class="form-control border rounded-1"
                            id="nombre" placeholder="Ingrese el nombre"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="apellido"
                            style="font-size: 13px; font-family: Verdana; color: black;">Apellido:</label>
                        <input type="text" formControlName="apellido" name="apellido"
                            class="form-control border rounded-1" id="apellido" placeholder="Ingrese el apellido"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="email" style="font-size: 13px; font-family: Verdana; color: black;">Email:</label>
                        <input type="email" formControlName="email" name="email" class="form-control border rounded-1"
                            id="email" placeholder="Ingrese el email"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="contenedor1">
                        <label for="contraseña"
                            style="font-size: 13px; font-family: Verdana; color: black;">Contraseña:</label>
                        <input type="password" formControlName="contrasena" name="contrasena"
                            class="form-control border rounded-1" id="contrasena" placeholder="Ingrese la contraseña"
                            style="font-size: 12px; font-family: Verdana; background-color: white">
                        <i class="bi bi-eye icono" id="toggleEye" (click)="togglePasswordVisibility()"></i>
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="rol" style="font-size: 13px; font-family: Verdana; color: black;">Rol:</label>
                        <select formControlName="rol" name="rol" id="rol" class="form-control border rounded-1" id="rol"
                            placeholder="Ingrese el estado"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                            <option>Administrador</option>
                            <option>Usuario</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <!--type="submit"--><button type="button" class="btn btn-primary"
                        (click)="registrarse()">Añadir</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Editar -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form (ngSubmit)="guardarEdicion()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar usuarios</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group pt-0 mb-3">
                        <label for="nombre" style="font-size: 13px; font-family: Verdana; color: black;">Nombre:</label>
                        <input type="text" [(ngModel)]="datoEditado.nombre" name="nombre"
                            class="form-control border rounded-1" id="nombre" placeholder="Ingrese el nombre"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="apellido"
                            style="font-size: 13px; font-family: Verdana; color: black;">Apellido:</label>
                        <input type="text" [(ngModel)]="datoEditado.apellido" name="apellido"
                            class="form-control border rounded-1" id="apellido" placeholder="Ingrese el apellido"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="email" style="font-size: 13px; font-family: Verdana; color: black;">Email:</label>
                        <input type="email" [(ngModel)]="datoEditado.email" name="email"
                            class="form-control border rounded-1" id="email" placeholder="Ingrese el email"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="contraseña"
                            style="font-size: 13px; font-family: Verdana; color: black;">Contraseña:</label>
                        <input type="password" [(ngModel)]="datoEditado.contrasena" name="contrasena"
                            class="form-control border rounded-1" id="contraseña" placeholder="Ingrese la contraseña"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                        <i class="bi bi-eye icono" id="toggleEye" (click)="togglePasswordVisibility()"></i>
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="contraseña"
                            style="font-size: 13px; font-family: Verdana; color: black;">Rol:</label>
                        <select [(ngModel)]="datoEditado.rol" name="rol" id="rol" class="form-control border rounded-1"
                            id="estado" placeholder="Ingrese el estado"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                            <option>Administrador</option>
                            <option>Usuario</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
            </div>
        </div>
    </form>
</div>