<div class="bg-image"></div>
<div class="d-flex justify-content-center align-items-center content" style="height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="p-5 rounded-5" style="background: rgba(76, 152, 244, 0.856);">
          <form>
            <!-- Imagen de avatar -->
            <div class="d-flex justify-content-center mb-4">
              <img src="../../assets/img/inicio.jpg" alt="Avatar" style="width: 100px; height: 100px; border-radius: 50%;">
            </div>
            <div class="col-md-12 d-flex justify-content-center mb-5">
              <h1 style="color: white;">Bienvenido a YAVILAB</h1>
            </div>
            <div class="form-group pt-4">
              <label for="email" style="font-size: 13px; color: white;">Correo:</label>
              <input type="email" name="email" class="form-control border rounded-1" id="email"
                placeholder="Ingrese el correo electrónico"
                style="font-size: 12px; font-family: Verdana; background-color: white">
            </div>
            <div class="form-group">
              <label for="contrasena" style="font-size: 13px; color: white;">Contraseña:</label>
              <div class="input-group">
                <input type="password" name="contrasena" class="form-control border rounded-1" id="contrasena"
                  placeholder="Ingrese la contraseña"
                  style="font-size: 12px; font-family: Verdana; background-color: white">
                <div class="input-group-append">
                  <span class="input-group-text" id="togglePassword" (click)="togglePasswordVisibility()">
                    <i class="bi bi-eye" id="toggleEye"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center pt-4">
              <button type="button" class="btn btn-primary" style="width: 250px; font-size: 120%; padding: 5px; border-radius: 5px;" (click)="login()">Iniciar Sesión</button>
            </div>
            <div class="d-flex justify-content-center pt-4">
              <button type="button" class="btn btn-primary" style="width: 250px; font-size: 120%; padding: 5px; border-radius: 5px;" (click)="redirectToRegister()">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
