#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(76, 152, 244);
    overflow-y: auto;
}
#sidebar .nav-link {
    color: white;
}
#sidebar .nav-link:hover {
    background-color: #495057;
}
#content {
    flex: 1;
    padding: 20px;
}