<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white">
    <h2 class="text-center mt-4 mb-4">YaviLAB</h2>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mt-5 mb-2">
            <a class="nav-link text-white" href="/dashboard" style="font-size: 15px;"><i class="bi bi-columns-gap p-2"
                    style="font-size: 15px;"></i>Dashboard</a>
        </li>
        <li class="nav-item mt-3 mb-3">
            <a class="nav-link text-white" href="/equipo" style="font-size: 15px;"><i class="bi bi-pc-display p-2"
                    style="font-size: 15px;"></i>Equipos</a>
        </li>
        <li class="nav-item mt-3 mb-3">
            <a class="nav-link text-white" href="/errores" style="font-size: 15px;"><i class="bi bi-eye-fill p-2"
                    style="font-size: 15px;"></i>Daños</a>
        </li>
        <li class="nav-item mt-3 mb-3">
            <a class="nav-link text-white" href="/lab" style="font-size: 15px;"><i
                    class="bi bi-file-arrow-down-fill p-2" style="font-size: 15px;"></i>Laboratorios</a>
        </li>
        <li class="nav-item mt-3 mb-3">
            <a class="nav-link text-white" href="/usuarios" style="font-size: 15px;">
                <i class="bi bi-people-fill p-2" style="font-size: 15px;"></i>Usuarios
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column mt-auto">
        <li class="nav-item mb-4">
            <a class="nav-link text-white" href="#" style="font-size: 15px;"><i class="bi bi-box-arrow-right p-2"
                    style="font-size: 15px;"></i>Cerrar Sesión</a>
        </li>
    </ul>
</div>