#sidebar {
    max-width: 250px;
    margin-left: -12px;
    height: 100vh;
}
#sidebar .nav-link {
    color: white;
}
#sidebar .nav-link:hover {
    background-color: #495057;
}
#content {
    flex: 1;
    padding: 20px;
}