<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <div class="col-md-9 pt-5 pb-2" style="font-size: 13px; font-family: Verdana;">
                <h2>Laboratorios</h2>
            </div>
            <div class="col-md-11 mb-5">
                <hr style="width: 100%;">
            </div>
            <div class="col-md-11 pt-4 pb-4 d-flex justify-content-between rounded-4 shadow-sm"
                style="background-color: rgba(14, 122, 255, 0.2);">
                <div class="position-relative" style="width: 300px; margin-left: 20px;">
                    <input type="text" class="form-control" placeholder="Filtros" style="padding-right: 30px;">
                    <i class="bi bi-funnel position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%);"></i>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addModal" style="margin-right: 20px;">Agregar</button>
                </div>
            </div>
            <div class="col-md-11 mt-5 rounded-4 shadow-sm p-4" style="background-color: rgba(14, 122, 255, 0.2);">
                <table class="table table-hover table-sm mt-2 mb-2 text-center" style="font-size: 14px;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Monitores</th>
                            <th scope="col">CPU</th>
                            <th scope="col">Teclado</th>
                            <th scope="col">Audifonos</th>
                            <th scope="col">Infocus</th>
                            <th scope="col">Mouse</th>
                            <th scope="col">Sillas</th>
                            <th scope="col">Mesas</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col" class="text-center">Editar / Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data, let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{ item.nombre_lab }}</td>
                            <td>{{ item.monitores }}</td>
                            <td>{{ item.cpu }}</td>
                            <td>{{ item.teclado }}</td>
                            <td>{{ item.audifonos }}</td>
                            <td>{{ item.infocus }}</td>
                            <td>{{ item.mouse }}</td>
                            <td>{{ item.sillas }}</td>
                            <td>{{ item.mesas }}</td>
                            <td>{{ item.observaciones }}</td>
                            <td class="d-flex justify-content-center">
                                <i class="bi bi-pencil-square"  (click)="editarDato(item)" data-bs-toggle="modal"
                                    data-bs-target="#editModal" style="margin-right: 40px; color: blue;"></i>
                                <i class="bi bi-trash-fill" (click)="eliminar(item)" style="margin-left: 10px; color: red;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addModalLabel" aria-hidden="true">
    <form (submit)="agregarDato()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar elementos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group pt-0 mb-3">
                        <label for="nombre" style="font-size: 13px; font-family: Verdana; color: black;">Nombre:</label>
                        <input type="text" [(ngModel)]="nombre" name="name" class="form-control border rounded-1" id="nombre"
                            placeholder="Ingrese el nombre"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="monitores"
                            style="font-size: 13px; font-family: Verdana; color: black;">Monitores:</label>
                        <input type="text" [(ngModel)]="monitores" name="monitores" class="form-control border rounded-1" id="monitores"
                            placeholder="Ingrese la marca del monitor"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="cpu" style="font-size: 13px; font-family: Verdana; color: black;">CPU:</label>
                        <input type="text" [(ngModel)]="cpu" name="cpu" class="form-control border rounded-1" id="cpu"
                            placeholder="Ingrese la marca del CPU"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="teclado"
                            style="font-size: 13px; font-family: Verdana; color: black;">Teclado:</label>
                        <input type="text"[(ngModel)]="teclado" name="teclado" class="form-control border rounded-1" id="teclado"
                            placeholder="Ingrese la marca del teclado"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="audifonos"
                            style="font-size: 13px; font-family: Verdana; color: black;">Audifonos:</label>
                        <input type="text" [(ngModel)]="audifonos" name="audifonos" class="form-control border rounded-1" id="audifonos"
                            placeholder="Ingrese la marca de los audifonos"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="infoqus"
                            style="font-size: 13px; font-family: Verdana; color: black;">Infocus:</label>
                        <input type="text" [(ngModel)]="infocus" name="infocus" class="form-control border rounded-1" id="infoqus"
                            placeholder="Ingrese la marca del infoqus"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="mouse" style="font-size: 13px; font-family: Verdana; color: black;">Mouse:</label>
                        <input type="text" [(ngModel)]="mouse" name="mouse" class="form-control border rounded-1" id="mouse"
                            placeholder="Ingrese la marca del mouse"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="sillas" style="font-size: 13px; font-family: Verdana; color: black;">Sillas:</label>
                        <input type="text" [(ngModel)]="sillas" name="sillas" class="form-control border rounded-1" id="sillas"
                            placeholder="Ingrese el numero de sillas"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="mesas" style="font-size: 13px; font-family: Verdana; color: black;">Mesas:</label>
                        <input type="text" [(ngModel)]="mesas" name="mesas" class="form-control border rounded-1" id="mesas"
                            placeholder="Ingrese el numero de mesas"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="obser"
                            style="font-size: 13px; font-family: Verdana; color: black;">Observaciones:</label>
                        <textarea [(ngModel)]="observaciones" name="observaciones"  class="form-control" id="obser" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
            </div>

        </div>
    </form>
</div>

<!-- Modal para Editar -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editModalLabel" aria-hidden="true">
    <form (ngSubmit)="guardarEdicion()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Editar elementos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group pt-0 mb-3">
                        <label for="nombre" style="font-size: 13px; font-family: Verdana; color: black;">Nombre:</label>
                        <input type="text" [(ngModel)]="datoEditado.nombre_lab" name="nombreEditado"
                            class="form-control border rounded-1" id="nombre" placeholder="Ingrese el nombre"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="monitores" style="font-size: 13px; font-family: Verdana; color: black;">Monitores:</label>
                        <input type="text"  [(ngModel)]="datoEditado.monitores" name="monitores"
                            class="form-control border rounded-1" id="monitores" placeholder="Ingrese la marca del monitor"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="cpu" style="font-size: 13px; font-family: Verdana; color: black;">CPU:</label>
                        <input type="text"  [(ngModel)]="datoEditado.cpu" name="cpu"
                            class="form-control border rounded-1" id="cpu" placeholder="Ingrese la marca del CPU"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="teclado" style="font-size: 13px; font-family: Verdana; color: black;">Teclado:</label>
                        <input type="text"  [(ngModel)]="datoEditado.teclado" name="teclado"
                            class="form-control border rounded-1" id="teclado" placeholder="Ingrese la marca del teclado"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="audifonos" style="font-size: 13px; font-family: Verdana; color: black;">Audifonos:</label>
                        <input type="text"  [(ngModel)]="datoEditado.audifonos" name="audifonos"
                            class="form-control border rounded-1" id="audifonos" placeholder="Ingrese la marca de los audifonos"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="infocus" style="font-size: 13px; font-family: Verdana; color: black;">Infocus:</label>
                        <input type="text"  [(ngModel)]="datoEditado.infocus" name="infocus"
                            class="form-control border rounded-1" id="infocus" placeholder="Ingrese la marca del infocus"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="mouse" style="font-size: 13px; font-family: Verdana; color: black;">Mouse:</label>
                        <input type="text"  [(ngModel)]="datoEditado.mouse" name="mouse"
                            class="form-control border rounded-1" id="mouse" placeholder="Ingrese la marca del mouse"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="sillas" style="font-size: 13px; font-family: Verdana; color: black;">Sillas:</label>
                        <input type="text"  [(ngModel)]="datoEditado.sillas" name="sillas"
                            class="form-control border rounded-1" id="sillas" placeholder="Ingrese el número de sillas"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="mesas" style="font-size: 13px; font-family: Verdana; color: black;">Mesas:</label>
                        <input type="text"  [(ngModel)]="datoEditado.mesas" name="mesas"
                            class="form-control border rounded-1" id="mesas" placeholder="Ingrese el número de mesas"
                            style=" font-size: 12px; font-family: Verdana; background-color: white">
                    </div>
                    <div class="form-group pt-0 mb-3">
                        <label for="observaciones" style="font-size: 13px; font-family: Verdana; color: black;">Observaciones:</label>
                        <textarea name="observaciones"  [(ngModel)]="datoEditado.observaciones" class="form-control border rounded-1" id="observaciones"
                            placeholder="Ingrese observaciones adicionales" style=" font-size: 12px; font-family: Verdana; background-color: white"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </form>
</div>
